/dataset
/DNT
/Segformer
/VisDroneDataset
/DeepLab_V3+/DeepLabV3+ - Training 1/best_finetune.pth
/DeepLab_V3+/DeepLabV3+ - Training 1/best_pretrain.pth
/DeepLab_V3+/DeepLabV3+ - Training 1/road_detection_output.mp4
/DeepLab_V3+/DeepLabV3+ - Training 1/road_detection_output(1).mp4
/DeepLab_V3+/DeepLabV3+ - Training 2/best_finetune.pth
/DeepLab_V3+/DeepLabV3+ - Training 2/best_pretrain.pth
/DeepLab_V3+/masks